*~
*.log
*.pot
*.pyc
*.pyo
*.egg*
*.svs
local_settings.py
project_cfg.py
*.swp
*.sqlite3
*.db
.DS_Store
.vagrant
ext/
*.egg-info/
dist/
# Coverage
.coverage
coverage_report/
# Whoosh Index
tests/whoosh_index/
colab/whoosh_index/
# Open Build System
.obs/
# Documentation build
docs/build
scripts/venv
.idea/
venv/
.vscode/
.ipynb_checkpoints/
assets/
results/**/numpy_normal
results/**/numpy_tumor
results/feature_extraction/genes/svm_t_rfe/selected_features
results/feature_extraction/images
results/concatenated_pca
results/concatenated_results